(*graph + )->addr = 0x4;    
(*graph + 4)->reserved = true;
(*graph + 4)->visited = false;
(*graph + 4)->tentative_distance = INF;
(*graph + 4)->paths_size = 2;
(*graph + 4)->paths = k_malloc(sizeof(struct path_t) * (*graph)->paths_size);
if((*graph + 4)->paths == NULL) return 1;



